.Footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Footer-backgroundColor);
  padding: 5px 0;
  border-top: 1px solid var(--Footer-borderColor);
  box-shadow: var(--Footer-boxShadow);
  z-index: var(--Footer-zIndex);
}

.Footer-text {
  color: var(--Footer-fontColor);
  font-size: 0.95rem;
  font-weight: 600;
  font-family: var(--Footer-fontFamily);
}

@media screen and (max-width: 768px) {
  .Footer-text {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 576px) {
  .Footer-text {
    font-size: 0.85rem;
  }
}

@media screen and (max-width: 480px) {
  .Footer-text {
    font-size: 0.8rem;
  }
}
