.Header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--Header-height);
  display: flex;
  flex-direction: column;
  color: var(--Header-fontColor);
  font-family: var(--Header-fontFamily);
  z-index: var(--Header-zIndex);
}

.Header-front {
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  border-bottom: 1px solid var(--Header-borderColor);
  background-color: var(--Header-front-backgroundColor);
  box-shadow: var(--Header-boxShadow);
  z-index: var(--Header-front-zIndex);
}

.Header-back {
  height: 25%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--Header-borderColor);
  background-color: var(--Header-back-backgroundColor);
  box-shadow: var(--Header-boxShadow);
  z-index: var(--Header-back-zIndex);
}

.Header-back div {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.Header-front h2 {
  font-family: var(--Header--h2-fontFamily);
  font-size: 1.25rem;
  font-style: italic;
  color: var(--Header--secondary-fontColor);
}

.Header-mainName a {
  color: var(--Header-fontColor);
  font-family: var(--Header--h1-fontFamily);
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.Header-contactInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.Header-contactInfo div {
  display: flex;
  gap: 5px;
}

.Header-back a {
  color: var(--Header-a-fontColor);
  font-family: var(--Header--h1-fontFamily);
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.Header-back a:hover {
  color: var(--Header-a--isHovering-fontColor);
}

.LanguageSelector {
  font-family: var(--Header-fontFamily);
  font-size: 1rem;
  background-color: var(--Header-back-backgroundColor);
  padding: 5px 10px;
  border: 1px solid var(--Header-borderColor);
  border-radius: 2px;
  box-shadow: var(--LanguageSelector-boxShadow);
}

.LanguageSelector-option {
  font-size: 1rem;
  background-color: transparent;
  border: none;
}

.LanguageSelector-option:hover {
  cursor: pointer;
  color: var(--Header-a--isHovering-fontColor);
  text-decoration: underline;
}

.LanguageSelector-option.is-active {
  font-weight: bold;
}
