.Header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--Header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  border-bottom: 1px solid var(--Header-borderColor);
  background-color: var(--Header-backgroundColor);
  font-family: var(--Header-fontFamily);
  color: var(--Header-fontColor);
  box-shadow: var(--Header-boxShadow);
  z-index: var(--Header-zIndex);
}

.Header h1 {
  font-family: var(--Header--h1-fontFamily);
  font-size: 2.5rem;
  text-transform: uppercase;
}

.Header h2 {
  font-family: var(--Header--h2-fontFamily);
  font-size: 1.25rem;
  font-style: italic;
  color: var(--Header--secondary-fontColor);
}

.Header-contactInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.Header-contactInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.Header-contactInfo div {
  display: flex;
  gap: 5px;
}
