.Header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--Header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  border-bottom: 1px solid var(--body-borderColor);
  background-color: var(--Header-backgroundColor);
  font-family: var(--Header-fontFamily);
  color: var(--Header-fontColor);
  /* box-shadow: 0 1px 10px 0 #6e6e6e; */
  z-index: 1;
}

.Header h1 {
  font-family: var(--Header--title-fontFamily);
  font-size: 2.5rem;
  text-transform: uppercase;
}

.Header h2 {
  font-family: var(--Header--title-fontFamily);
  font-size: 1.25rem;
  text-transform: uppercase;
  color: var(--body--secondary-fontColor);
}

.Header-contactInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.Header-contactInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.Header-contactInfo div {
  display: flex;
  gap: 5px;
}
