.Studies {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.MainStudies {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.MainStudies section {
  width: 50%;
}

.MainStudies-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-block: 15px;
}

.MainStudies-itemMainInfo {
  width: 52%;
  display: flex;
  flex-direction: column;
}

.MainStudies-itemAwards {
  width: 30%;
  text-align: center;
  font-weight: 600;
}

.MainStudies-itemDateInfo {
  width: 18%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.OtherStudies-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-block: 15px;
}

.OtherStudies-itemMainInfo {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.OtherStudies-itemDateInfo {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

@media screen and (max-width: 1024px) {
  .MainStudies {
    flex-direction: column;
    gap: 20px;
  }

  .MainStudies section {
    width: 100%;
  }
}
