.Studies {
  display: flex;
  flex-direction: column;
}

.Studies-mainStudies {
  display: flex;
  justify-content: space-between;
  gap: 5%;
}

.Studies-main {
  width: 50%;
}

.Studies-graduates {
  width: 50%;
}

.Studies-item {
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 20px;
}

.Studies-mainInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.Studies-awards {
  width: 40%;
  display: flex;
  justify-content: center;
}

.Studies-dateInfo {
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.StudiesModal-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 160px 0 0;
  background-color: #80808046;
}

.StudiesModal {
  height: 80%;
  background-color: white;
  border: 1px solid black;
  overflow: auto;
}
