.Studies {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.MainStudies {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.MainStudies-titulation {
  width: 50%;
}

.MainStudies-graduates {
  width: 50%;
}

.TitulationItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 15px;
}

.TitulationItem-mainInfo {
  width: 55%;
  display: flex;
  flex-direction: column;
}

.TitulationItem-awards {
  width: 30%;
  text-align: center;
  font-weight: 600;
}

.TitulationItem-dateInfo {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.OtherStudyItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-block: 15px;
}

.OtherStudyItem-mainInfo {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.OtherStudyItem-dateInfo {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

@media screen and (max-width: 1024px) {
  .MainStudies {
    flex-direction: column;
    gap: 20px;
  }

  .MainStudies section {
    width: 100%;
  }
}
