.Footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: 1px solid var(--Footer-borderColor);
  background-color: var(--Footer-backgroundColor);
  font-family: var(--Footer-fontFamily);
  box-shadow: var(--Footer-boxShadow);
  z-index: var(--Footer-zIndex);
}
