.Header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 140px;
  display: flex;
  flex-direction: column;
  color: var(--Header-fontColor);
  font-family: var(--Header-fontFamily);
  z-index: var(--Header-zIndex);
}

.Header-top {
  height: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px min(50px, 4%);
  border-bottom: 1px solid var(--Header-borderColor);
  background-color: var(--Header-top-backgroundColor);
  box-shadow: var(--Header-boxShadow);
  z-index: var(--Header-top-zIndex);
}

.Header-container {
  display: flex;
  gap: 30px;
}

.Header-bottom {
  height: 20%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  border-bottom: 1px solid var(--Header-borderColor);
  background-color: var(--Header-bottom-backgroundColor);
  box-shadow: var(--Header-boxShadow);
  z-index: var(--Header-bottom-zIndex);
}

.MainTitle-name {
  color: var(--Header-fontColor);
  font-family: var(--Header--title-fontFamily);
  font-size: 2.4rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.MainTitle-title {
  font-family: var(--Header--title-fontFamily);
  font-size: 1.1rem;
  font-style: italic;
  color: var(--Header--secondary-fontColor);
}

.MoreInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  font-weight: 500;
  font-size: 0.95rem;
  padding: 0 10px;
  border-block: 1px solid var(--Header-borderColor);
}

.MoreInfo-item {
  display: flex;
  gap: 10px;
  align-items: center;
}

.LanguageSelector {
  min-width: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  font-family: var(--Header-fontFamily);
  background-color: var(--Header-bottom-backgroundColor);
  padding: 8px 15px;
  border: 1px solid var(--Header-borderColor);
  border-radius: 3px;
  box-shadow: var(--LanguageSelector-boxShadow);
}

.LanguageSelector-option {
  font-family: var(--Header-fontFamily);
  font-size: 0.92rem;
  background-color: transparent;
  border: none;
}

.LanguageSelector-option:hover {
  cursor: pointer;
  color: var(--Header-a--isHovering-fontColor);
  text-decoration: underline;
}

.LanguageSelector-option.is-active {
  font-weight: bold;
}

.LinksContainer {
  display: flex;
  gap: 20px;
  align-items: center;
}

.LinksContainer a {
  color: var(--Header-fontColor);
  font-family: var(--Header--title-fontFamily);
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.LinksContainer a:hover {
  color: var(--Header-a--isHovering-fontColor);
}

@media screen and (max-width: 1280px) {
  .Header-container {
    gap: 20px;
  }

  .MainTitle-name {
    font-size: 2.3rem;
  }

  .MainTitle-title {
    font-size: 1.05rem;
  }

  .MoreInfo {
    font-size: 0.9rem;
  }

  .LanguageSelector-option {
    font-size: 0.9rem;
  }

  .LinksContainer a {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 1024px) {
  .Header-container {
    gap: 15px;
  }

  .MainTitle-name {
    font-size: 3.1vw;
  }

  .MainTitle-title {
    font-size: 1.6vw;
    font-weight: 600;
  }

  .MoreInfo {
    font-size: 0.8rem;
  }

  .LanguageSelector-option {
    font-size: 0.8rem;
  }

  .LinksContainer a {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .Header {
    height: 170px;
  }

  .Header-top {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }

  .MainTitle-name {
    font-size: 5.2vw;
  }

  .MainTitle-title {
    text-align: center;
    font-size: 2.2vw;
  }

  .MoreInfo {
    gap: 50px;
    flex-direction: row;
    font-size: 2vw;
    border: none;
  }

  .LanguageSelector {
    display: none;
  }

  .LinksContainer a {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 576px) {
  .Header {
    height: 150px;
  }

  .Header svg {
    display: none;
  }

  .Header-bottom {
    padding: 5px 0;
  }

  .MoreInfo {
    gap: 30px;
  }

  .LinksContainer a {
    font-size: 0.75rem;
  }
}
