:root {
  --bodyBackgroundColor: #030303;
  --sectionBackgroundColor: #111;
  --headerBackgroundColor: #0a2535;
  --heroBackgroundColor: #090909;
  --articleBackgroundColor: #ddd;

  --sectionBorderColor: #3f3f3f;

  --headerShadowColor: #071e2b;
  --heroShadowColor: #000;

  --fontColor: #eee;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--bodyBackgroundColor);
  font-family: system-ui;
  color: var(--fontColor);
  margin-top: 80px;
}

main {
  background-color: var(--sectionBackgroundColor);
  border-top: 1px solid var(--sectionBorderColor);
}

/* Utilities */

.u-hr {
  border: none;
  border-top: 1px solid var(--sectionBorderColor);
  margin-inline: 120px;
}

/* --- Navbar --- */

.Navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'DM Serif Text';
  text-align: center;
  background-color: var(--headerBackgroundColor);
  padding-block: 5px;
  box-shadow: 0 0 20px var(--headerShadowColor);
}

.Navbar a {
  font-size: 50px;
  color: var(--fontColor);
  text-decoration: none;
  margin-inline: 10px;
}

/* --- Footer --- */

.Footer {
  display: flex;
  flex-direction: column;
  background-color: var(--headerBackgroundColor);
  font-family: 'DM Serif Text';
  text-align: center;
  font-size: 30px;
  padding-block: 5px;
  box-shadow: 0 0 20px var(--headerShadowColor);
}

.Footer a {
  font-size: 42px;
  color: var(--fontColor);
  text-decoration: none;
  margin-inline: 10px;
}

.Footer a:hover {
  text-decoration: underline;
}

.Footer-copyright {
  font-size: 20px;
}
