:root {
  --body-backgroundColor: #f8f5f2;
  --body-borderColor: black;
  --body-fontFamily: 'Work Sans';
  --body--main-fontColor: black;
  --body--secondary-fontColor: #494949;

  --aside-width: 300px;

  --Header-height: 120px;
  --Header-backgroundColor: #e6e3e1;
  --Header-fontFamily: 'Work Sans';
  --Header--title-fontFamily: 'IBM Plex Serif';
  --Header-fontColor: #000000;

  --main-backgroundColor: #ffffff;

  --Footer-fontFamily: 'IBM Plex Serif';
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--body-backgroundColor);
  font-family: var(--body-fontFamily);
}

hr {
  margin: 10px 0;
}

.u-circle {
  width: 200px;
  height: 200px;
  border: 1px solid var(--body-backgroundColor);
  border-radius: 9999px;
}
