.NotFound {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: var(--main-backgroundColor);
  padding: calc(var(--Header-height) + 50px) 70px 50px;
  border-inline: 1px solid var(--body-borderColor);
  margin: 0 200px;
}
